---
title: Welcome!
section: extras
---
<div class="jumbotron">
	<h2>Welcome to the Sample Course!</h2>
	<p>This course is generated when you first install Coursegen. It uses all the features (almost) of the software, to allow you to see what is possible.</p>

	<p>Pito Salas, pitosalas@brandeis.edu</p>
</div>
