<h3 class="body-header">
	<%= citem.title %>
	<% if citem.lecture? %>
		<small>(<%= citem.lecture_date_s %>, <%= citem.lecture_number_s.to_s %>)</small>
	<% end %>
	<br/><small> <%= citem.desc %> </small>
</h3>
