<div class="col-md-3 border rounded-lg sidebar">
  <% if HELPFUL_BOX %>
  <div class="row well"
    style="color: rgb(158, 48, 48);padding: 4px 8px;margin-bottom: 8px;">
    <%= render "/helpful_box.*" %>
  </div>
  <% end %>
  <div class="row">
    <ul>
      <% SECTION_CONFIG.each do |sbb| %>
      <%= section_helper(title: sbb.title, selector: sbb.selector) unless sbb.options[:hidden] %>
      <% end %>
    </ul>
  </div>
</div>
