---
title: Search Results
section: extras
---

>    *note: for now, each search result includes the first several lines of the page, which may or may not include the occurences of the words you searched for. Don't let that make you think that the search didn't work. It's just that the results page can be improved (a lot)*

<div id="tipue_search_content"></div>
