require './cg_config.rb'

preprocess do
  Toc.instance.prepare @items, SECTION_CONFIG
end

compile '/bootstrap/**/*' do
  nil
end

compile '/extras/**/*' do
  nil
end

compile '/content/topics/robotcode/**/*' do
  nil
end

compile '/content/scripts/**/*' do
  nil
end

compile "/content/tipuesearch/tipuesearch_content.js.erb" do
  filter :erb
end

compile '/**/*.ical.erb' do
  filter :erb
end

compile '/**/*.{md,ical}.erb' do
  if item[:status] != "hidden"
    filter :erb
    filter :kramdown, coderay_line_numbers: nil
    layout '/course.*'
  else
    nil
  end
end

compile '/**/*' do
  if item.binary? || item[:status] == "hidden"
    nil
  end
end

route '/bootstrap/**/*' do
  @item.identifier.to_s
end

route '/tipuesearch/**/*' do
  @item.identifier.to_s
end

route "/content/tipuesearch/tipuesearch_content.*" do
  '/tipuesearch/tipuesearch_content.js'
end

# Output the search page
route '/tipuesearch/search.md.erb' do
  '/tipuesearch/search/index.html'
end

# Select which .md.erb becomes the home page of the site
route HOME_PAGE do
  '/index.html'
end

route '/**/*' do
  if item[:extension].nil?
    raise RuntimeError, "Missing required extension: \".#{item.identifier}\""
  elsif item.binary?
    item.identifier.to_s
  elsif item.identifier == "/searchtipuesearch_content/"
    item.identifier.chop + '.' + item[:extension] rescue fail "in route * in Rules"
  elsif item[:status] == "hidden"
    nil
  elsif item[:type] == "subsection"
    nil
  elsif item[:extension] != "css"
    item.identifier.without_ext + '/index.html'
  end
end

layout '/**/*', :erb
